<div class="row text-center vertical-center">

  <div class="col-md-offset-1 col-md-4">
    <h2>Inputs</h2>
    <p>(add stuff on this side)</p>
    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
  </div>

  <div class="col-md-2">
    <h2>
      <button class="btn btn-success"(click)="queryCivinky()">
        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
      </button>
    </h2>
    <p>Click me</p>
  </div>

  <div class="col-md-4">
    <h2>Outputs</h2>
    <p>(see the results on this side)</p>
    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
  </div>

</div>

<div class="row">

  <div class="col-md-6">
    <h3>Pug</h3>
    <p>Pug (or plain HTML) for the email. Use inky tags for trouble free email composition.</p>
    <textarea [(ngModel)]="pug"></textarea>
    <h3>CSS</h3>
    <p>CSS, to be merged with foundation's base CSS and inlined into the rendered HTML.</p>
    <textarea [(ngModel)]="css"></textarea>
    <h3>JSON</h3>
    <p>JSON that will be passed to Pug for rendering.</p>
    <textarea [(ngModel)]="json"></textarea>
    <h3>Snippet mode <input type="checkbox" [(ngModel)]="snippet"></h3>
    <p>Choose whether to generate complete HTML, including !DOCTYPE, html head tags, etc., or just a <em>snippet</em> for insertion into another document.</p>


  </div>

  <div class="col-md-6">
    <h3>Preview</h3>
    <!-- <p>Here's what your email will look like in email client (<a [attr.href]="url" target="_blank">preview fullscreen</a>).</p> -->
    <iframe [srcdoc]="html"></iframe>
    <h3>HTML</h3>
    <p>Download the HTML for CiviMail here (or use the CiviCRM extension).</p>
    <textarea [innerHTML]="html" readonly></textarea>
  </div>

</div>
