<div class="jumbotron">
  <div class="container">
    <h1>Civinky <span class="small">Pug and Inky for CiviMail</span></h1>
    <p>Converts a Pug template, writen with Inky tags to inline html ready for CiviMail. Include your own CSS, JSON, and CiviMail tokens.</p>
    <p>Try it out below and install the CiviCRM extension.</p>
  </div>
</div>
<div class="main">
  <div class="container">
    <app-civinky></app-civinky>
  </div>
</div>
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
          <h2>The big idea</h2>
          <p>Email is hard to get right, especially when all you have is a wysiwyg editor.</p>
          <p>Thankfully there are better tools are out there. So lets glue them together and make them available for CiviCRM users.</p>
          <p>In this case, the glue is a simple webservice (Civinky) that creates email friendly HTML and a CiviCRM extension to make that service available in CiviCRM.</p>
      </div>
      <div class="col-md-6">
          <h2>Get started</h2>
          <p>You're welcome to use this site to create your email friendly HTML. If you get bored of copying and pasting, try installing the Civinky extension and writing Inky based emails in CiviCRM. To get started:</p>
          <ol>
            <li>Install the extension</li>
            <li>Set up the webservice</li>
            <li>Send some email!</li>
          </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2>Credits</h2>
        <p>Funding generously provided by <a href="http://elifesciences.org/">eLife Sciences</a>, a unique, non-profit collaboration between the funders and practitioners of research to improve the way important results are presented and shared.</p>
        <p>Civinky builds on many existing open source technologies, notably <a href="http://foundation.zurb.com/emails/">Foundation for Emails 2</a>, <a href="http://pug-lang.com/">Pug</a> and <a href="http://nodejs.org/">nodejs</a>.</p>
        <p>Code by <a href="mailto:michaelmcandrew@thirdsectordesign.org">Michael McAndrew</a>, <a href="href:https://3sd.io">Third Sector Design</a>.</p>
      </div>
    </div>
  </div>
</div>
